sphinx-env
*.pyc
*.mo
*.swp
.DS_Store
Thumb.db
desktop.ini
*.*~
*~
build
output
build.log
*.doctree
.doctrees/
resources/*/docs/
source/docs/*/*
ext
live
virtualenv
sphinx
.idea
source/static/
venv
#i18n
.transifexrc
.vscode
