
/******************************************************************************

As this is the main qgis css theme, to be managed, reviewed and seen by 
a lot of people, please comment liberally/extensively.

******************************************************************************/
@import "bootstrap-2.3.2/less/variables.less";
@import "bootstrap-2.3.2/less/mixins.less";

@green: #129700;
@blueDark: #1c2028;
@grayDark: #404040;
@greenLight: #eff391;
@blueLight: #91bef3;
@blueLink: #08c;

.font-face (@family, @file-base, @weight: normal, @style: normal) {
  @font-face {
    font-family: @family;
    src: url("@{file-base}.eot");
    src: url("@{file-base}.eot?#iefix") format("embedded-opentype"),
         url("@{file-base}.woff") format("woff"),
         url("@{file-base}.ttf") format("truetype"),
         url("@{file-base}.svg#@{family}") format("svg");
    font-weight: @weight;
    font-style: @style;
  }
}

/* Monotype font for code */
.font-face("Inconsolata", "fonts/inconsolata-regular-webfont", normal);
.font-face("Inconsolata", "fonts/inconsolata-bold-webfont", bold);

/* Open Sans font for everything else */
.font-face("OpenSans", "fonts/OpenSans-Regular-webfont", normal);
.font-face("OpenSans", "fonts/OpenSans-Italic-webfont", normal, italic);
.font-face("OpenSans", "fonts/OpenSans-Bold-webfont", bold);
.font-face("OpenSans", "fonts/OpenSans-BoldItalic-webfont", bold, italic);

.font-face("OpenSans", "fonts/OpenSans-Light-webfont", 300);
.font-face("OpenSans", "fonts/OpenSans-LightItalic-webfont", 300, italic);
.font-face("OpenSans", "fonts/OpenSans-Semibold-webfont", 600);
.font-face("OpenSans", "fonts/OpenSans-SemiboldItalic-webfont", 600, italic);

body {
  padding-top: 60px !important;
  font: 62.5%/1.5  "Open Sans", "Helvetica Neue", Ubuntu, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p, li, .button {
    font-size: .9rem;
    line-height: 1.4rem;
 }

pre, code {
  font-family: "Andale Mono", "Ubuntu Mono", "Courier New", Courier, monospace;
  line-height: 1.2rem;
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0 !important;
  }
  /*.non-mobile-image {
    visibility: hidden;
  }*/
}

.navbar-inverse {
  .navbar-inner {
    background: @blueDark;
  }

  .btn-navbar {
    background: none;
    border: none;
    .box-shadow(none);
    padding-left: 20px;
    padding-right: 0;

    &:hover {
      background: none;
    }

    .icon-bar {
      width: 34px;
      height: 5px;
      .border-radius(0);
      margin-bottom: 5px;
    }
  }
}

.main-menu {
  margin: 16px 0 0 20px !important;
  float: left;

  > li {
    float: left;

    a {
      text-shadow: none;
      text-transform: uppercase;
      color: white;
      padding: 9px 15px;
      font-size: 13px;

      &:hover {
        text-decoration: none;
        background: lighten(@blueDark, 15%);
      }
    }
  }
}

.navbar-search {
  margin: 16px 0 0 20px !important;
  padding: 0 !important;
  border: none !important;
  .box-shadow(none) !important;
  float: right !important;

  input {
    background: #f1f1f1 !important;
    border-color: darken(@blueDark, 5%) !important;
    border-top-color: darken(@blueDark, 10%) !important;
    text-shadow: none !important;
    width: 150px;
  }
}

.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #999 !important;
}

.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #999 !important;
}

.navbar-inner > select {
  body, html {background:#444; text-align:center; padding:50px 0;}
}

.nav-collapse {
  height: auto;
  background-color: #63676f;
  margin: 0px -20px -10px;

  .nav {
    margin-top: 12px !important;

    > li {
      float: left !important;

      a {
        text-shadow: none !important;
        text-transform: uppercase;
        color: #ccc !important;
        font-weight: bold !important;
        &:hover {
        text-decoration: none;
        color: white;
        background: lighten(@blueDark, 15%);
      }
      }
    }
  }
}

select#languages {
  float: right;
  margin: 16px 1px 0 4px;
  width: 120px;

  background: @blueDark url('images/down-arrow.png') no-repeat 95% 50%;
  line-height: 20px;
  color: white;
  outline:none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  a {
   outline: 0;
  }

  option {
    outline: 0;
    padding: 4px;
  }
}

.navbar .brand {
  display: block;
  .square(60px);
  text-indent: -9999px;
  padding: 0 !important;
  background: transparent url("logo.png") no-repeat 0 0 !important;
}

#main-body { 
  position: absolute;
  top: 75px; 
  right: 25px;
  margin-bottom: 55px; 
}

.footer {
  background: @blueDark;
  color: white;
  padding: 50px 0 !important;
  text-align: center;
  border: 0 !important;

  .credit {
    font-size: 0.8rem;
  }
  
  #social > li > a > div {
    margin-right: 20px;
    height: 30px;
    width: 30px;
    padding: 0;
    outline: none;
  }

  #twitter {
    background: transparent url("images/footer-twitter.png") no-repeat 0 0;
  }
  #facebook {
    background: transparent url("images/footer-facebook.png") no-repeat 0 0;
  }
  #gplus {
    background: transparent url("images/footer-gplus.png") no-repeat 0 0;
  }
  #github {
    background: transparent url("images/footer-github.png") no-repeat 0 0;
  }
}

/* this is the item in the TOC in sidebar which is currently active */
.current.reference.internal {
  background-color: darkgray;
}
/* external link icon for external links */
.reference.external {
  padding-right: 15px;
  background: url(images/link-icon_external.png) center right no-repeat;
}

section {
  margin: 0;
}

/*** LANDING ***/
#carouselBox {
  margin-top: 20px;
}

.carousel-caption {
  padding: 0 20px 10px 20px;
  text-align: left;

  .caption-headline {
    font-weight: bold;
    line-height: 18px;
    color: white;
  }
    .caption-text {
      color: #ccc;
    }
  .caption-link {
    margin-left: 10px;
    &:hover {
      text-decoration: none;
      color: @greenLight;
    }
  }
}

section.slideshow {
  padding-top: 20px;
  padding-bottom: 20px;
}

section.info {
  text-align: center;
  margin: 35px auto 25px auto;

  h1 {
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  }

  h5 {
    margin-top: 20px;
  }

  p {
    margin: 25px 0;
  }

  span {
    display: block;
    margin: 20px 0;
    color: lighten(@blueDark, 20%);
  }

  .btn {
    font-size: 1.4em;

    &:hover {
      background: darken(@green, 4%);
    }
  }
}

section.highlights {
  background: @grayDark;
  padding: 30px 0;
  border-top: 1px solid lighten(#63676f, 50%);
  border-bottom: 1px solid lighten(#63676f, 50%);
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);


  a {
    text-decoration: none;
  }

  .info-box {
    margin: 0 10px 30px;
    text-align: center;
    background-color: #404040;

    h4 {
      color: white;
      font-weight: 400;
      text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    }
    .box-content {
      background-color: transparent;

      img {
        margin-bottom: 10px;
        width: 100%
      }

      p {
        padding: 20px 10px 0 10px;
        font-size: 1.4em;
        color: white;
      }
    }
    .highlights-icon {
      width: 200px;  //TODO add media queries for responsive sizing
      height: 142px;
      margin: 0 auto;
    }
    #get-started {
      background: #ccc url('images/get-started.png') no-repeat center center;
    }
    #get-involved {
      background: #ccc url('images/get-involved.png') no-repeat center center;
    }
    #learn-more {
      background: #ccc url('images/learn-more.png') no-repeat center center;
    }

    &:hover, &:active {
      h4, p {
        color: white;
      }
      h4 {
        font-weight: 600;
      }
      #get-started, #get-involved, #learn-more {
        background-color: #fff;
      }
    }
  }
}

section.latest-news {
  text-align: center;
  padding: 30px 0;
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);


  a {
    &:hover, &:active {
      text-decoration: none !important;
      .info-box {
        background: #FFF;
      }
    }
  }

  header {
    height: 30px;
    overflow: visible;
    border-bottom: 1px solid lighten(@grayDark, 30%);
    margin-bottom: 40px;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    background: white;
    padding: 0 40px;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  }

  .info-box {
    margin: 0 10px 40px;
    background: #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #999999;
    box-shadow: 1px 1px 1px 1px #999999;
    text-align: left;
    width: 100%;

    h4 {
      color: @blueDark;
      padding: 0 10px;
      margin-bottom: 10px;
    }

    p {
      padding: 0 10px 10px 10px;
      font-size: 15px;
      color: #333;
    }

    img {
      width: 100%;
    }
  }

  p.intro {
    font-size: 16px;
    font-style: italic;
    margin: 0 40px 30px;
  }
}

section.sponsors {
  padding: 30px 0;
  text-align: center;
  background: #333 url('images/paper-texture.png') repeat;


  header {
    height: 30px;
    overflow: visible;
    margin-bottom: 40px;
  }

  h3 {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    padding: 0 40px;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);

  }

  .sponsor {
    text-align: center;
  }
}

/*** DOWNLOAD ***/

section.intro {
  margin-top: -20px;
  padding: 30px 0 60px;
  border-bottom: 1px solid #ddd;
  background: #f3f2f0;

  h2 {
    font-weight: 400;
  }

  p.main {
    font-size: 14px;
    line-height: 20px;
  }
}

section.content {
  padding: 30px 0;
  margin-top: -68px !important;

  .nav-tabs {
    border-bottom: none;

    > li > a {
      .border-radius(0);
      text-transform: uppercase;
    }
  }

  h4 {
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
}

.bs-sidenav {
  padding-top: 0 !important;

  &.well {
    background: none;
    border: none;
    border-right: 1px solid #ddd;
    .border-radius(0);
    .box-shadow(none);
  }

  h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
  }
}

@media (min-width: 980px) {
  .navbar .container {
    width: 940px !important;
  }

  .bs-sidenav {
    width: 300px !important;
    margin: 0 !important;
  }
}

@media (max-width: 979px) {
  body {
    padding-top: 0 !important;
  }
}

@media (max-width: 470px) {
  .navbar-search input {
    width: 120px;
  }
}

/********* Downloads by OS *********/

#downloads {
  margin-top: 30px;

  .accordion-group {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 1px solid #bbb;
    margin-bottom: 20px;
    background-color: #efefef;
  }

  .accordion-heading {
    &:hover {
      background-color: #333;
      border: 1px solid #000;
    }

    a {
      font-weight: bold;
      color: @blueDark;
      &:hover {
        color: @blueLight;
        text-decoration: none;
      }
    }
    h4 {
      border: 0;
      font-weight: bold;
    }
  }

  .accordion-inner {
    background-color: #eee;
    line-height: 40px;
    margin-left: 20px;
    a {
       text-decoration: none;
    }
    .icon-large {
      font-size: 18px;
    }
    .download-row {
      margin-left: 30px;
      display: inline-block;
    }
    .qgis-download, .osgeo-download {
      width: 60px;
      height: 60px;
      margin-bottom: -20px;
    }
    .qgis-download {
      background: url('images/qgis-logo.png') no-repeat left;
    }
    .osgeo-download {
      background: url('images/osgeo-logo.png') no-repeat left;
    }
    .download-text {
      margin-left: 10px;
      font-weight: bold;
    }
   button {
      margin-left: 5px;
    }
  }
}

/********* Secondary Landing Pages *********/

#color-identifier {
  height: 10px;
  position: fixed;
  z-index: 1030;
  right: 0;
  left: 0;
  overflow: visible;
  
  @media (max-width: 979px) {
	  position: absolute;
  }

  &.about {
    background-color: @greenLight; 
  }
  &.forusers {
    background-color: @blueLink; 
  }
  &.getinvolved {
    background-color: @green; 
  }
}

section.sub-landing-page {
  font-size: 14px;
  line-height: 20px;
  color: #4d4e50;

  .container {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding-top: 40px;
    width: 940px;
    position: relative;
  }
  .container:after {
    clear: both;
  }

  h2 {
    line-height: 150%s;
  }

  hr {
    margin: 70px 0;
  }
  h4.subsection-link {
    margin-top: 20px;
  }
}

div.banner {
    padding-top: 40px;
}

section.menu nav.subnav {
  padding: 30px 0;
  background: white;
  color: @blueDark;
  text-align: center;

  header {
    height: 30px;
    overflow: visible;
    border-bottom: 1px solid #bbb;
    margin-bottom: 40px;
  }

  h3 {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    background: white;
    padding: 0 40px;
  }

  ul {
    margin-top: 40px;
    li {
      display: inline;
      margin: 0 10px;
      a {
        font-weight: bold;
        color: @blueDark;
        &:hover { 
          text-decoration: none;
          color: @blueLink;
        }
      }
    }
  }
}


#myModal {
  .modal-img {
    width: 100%;
  }
  .modal-body {
    p {
      margin: 15px;
    }
  }
}

.background-mask {
  background-color: #ccc;
}

@media (max-width: 979px) {
  img.overflow-img, #processing { 
    min-width: 100% !important;
  }
} 

@media (min-width: 980px) {
  img.overflow-img, #processing { 
    max-width: none !important;
  }
}


/********* QGIS-Documentation Pages *********/

/* color for qgis version disclaimer (used when files need to be revised) */
.disclaimer {
  display:block;
  margin-top:5px;
  color:red;
  border:2px solid red;
  padding:5px 30px 5px 20px;

}
/* (Sphinx) admonition changes, as used in documentation */
.admonition-title {
    font-size: larger;
    display: block;
    border-bottom: 1px #ddd solid;
    margin-left: 44px !important;
}
/* theming of warning boxes class=".admonition .warning" */
.warning{
    background-image: url("images/warning.png");
    background-position: 15px 8px;
    background-repeat: no-repeat;
}
/* theming of warning boxes class=".admonition .note" */
.note {
    background-image: url("images/note.png");
    background-position: 15px 8px;
    background-repeat: no-repeat;
}
/* theming of warning boxes class=".admonition .tip" */
.tip {
    background-image: url("images/tip.png");
    background-position: 15px 8px;
    background-repeat: no-repeat;
}

.admonition, .bordered-block {
    background-color: #fbfbfb;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-top: 1px solid #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #CCCCCC;
}

.admonition p img, .bordered-block p img {
    float: left;
    margin: 0 15px 0 0;
}

.guilabel {
    font-weight: bold;
    border: 1px solid #ddd;
    background: #eee;
    color: #08C;
    padding-left: 3px;
    padding-right: 3px;
}

.menuselection {
    font-weight: bold;
    border: 1px dashed #ddd;
    background: #eee;
    color: #217AEC;
    padding-left: 3px;
    padding-right: 3px;
}

.kbd {
    font-weight: bold;
    border: 1px solid #ddd;
    background: #eee;
    color: #E22;
    padding-left: 3px;
    padding-right: 3px;
}
