
/******************************************************************************

As this is the main qgis css theme, to be managed, reviewed and seen by 
a lot of people, please comment liberally/extensively.

******************************************************************************/

.bx-wrapper {
    top : 60px;
    height: 600px;
    width: 800px;
}

.footer {
  padding-top:10px;
  position:fixed;
  left:0px;
  bottom:0px;
  height:55px;
  width:100%;
}

.navbar .container {
  height:50px;
}

#main-body { 
    position:absolute;
    top: 75px; 
    right: 25px;
    margin-bottom: 55px; 
}

/* this is the item in the TOC in sidebar which is currently active */
.current.reference.internal {
    background-color: darkgray;
}


/* simply resizing brand gives too much trouble*/
/*
.brand {
    height:60px;
    padding-left: 25px;
}*/
