/******************************************************************************

As this is the main qgis css theme, to be managed, reviewed and seen by 
a lot of people, please comment liberally/extensively.

******************************************************************************/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding-top: 60px !important;
}
h4 {
  font-size: 20px;
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0 !important;
  }
  /*.non-mobile-image {
      visibility: hidden;
    }*/
}
.navbar-inverse .navbar-inner {
  background: #1c2028;
}
.navbar-inverse .btn-navbar {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 20px;
  padding-right: 0;
}
.navbar-inverse .btn-navbar:hover {
  background: none;
}
.navbar-inverse .btn-navbar .icon-bar {
  width: 34px;
  height: 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 5px;
}
.main-menu {
  margin: 16px 0 0 20px !important;
  float: left;
}
.main-menu > li {
  float: left;
}
.main-menu > li a {
  text-shadow: none;
  text-transform: uppercase;
  color: white;
  padding: 9px 15px;
  font-size: 13px;
}
.main-menu > li a:hover {
  text-decoration: none;
  background: #3c4455;
}
.navbar-search {
  margin: 16px 0 0 20px !important;
  padding: 0 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  float: right !important;
}
.navbar-search input {
  background: #f1f1f1 !important;
  border-color: #111419 !important;
  border-top-color: #07080a !important;
  text-shadow: none !important;
  width: 150px;
}
.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #999 !important;
}
.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #999 !important;
}
.nav-collapse {
  height: auto;
  background-color: #63676f;
  margin: 0px -20px -10px;
}
.nav-collapse .nav {
  margin-top: 12px !important;
}
.nav-collapse .nav > li {
  float: left !important;
}
.nav-collapse .nav > li a {
  text-shadow: none !important;
  text-transform: uppercase;
  color: #ccc !important;
  font-weight: 400 !important;
}
.nav-collapse .nav > li a:hover {
  text-decoration: none;
  color: white;
  background: #3c4455;
}
select#languages {
  float: right;
  margin: 16px 15px 0 0;
  width: 100px;
  font-size: 12px;
}
.navbar .brand {
  display: block;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  padding: 0 !important;
  background: transparent url("logo.png") no-repeat 0 0 !important;
}
#main-body {
  position: absolute;
  top: 75px;
  right: 25px;
  margin-bottom: 55px;
}
.footer {
  background: #1c2028;
  color: white;
  padding: 50px 0 !important;
  text-align: center;
  border: 0 !important;
}
.footer .credit {
  font-size: 12px;
}
/* this is the item in the TOC in sidebar which is currently active */
.current.reference.internal {
  background-color: darkgray;
}
/* external link icon for external links */
.reference.external {
  padding-right: 15px;
  background: url(images/link-icon_external.png) center right no-repeat;
}
section {
  margin: 0;
}
/*** LANDING ***/
#carouselBox {
  width: 100%;
}
.carousel-caption {
  padding-top: 0;
  padding-bottom: 10px;
  text-align: center;
}
.carousel-caption .caption-headline {
  font-weight: bold;
  line-height: 18px;
  color: white;
}
.carousel-caption .caption-text {
  color: #ccc;
}
.carousel-caption .caption-link {
  margin-left: 10px;
}
.carousel-caption .caption-link:hover {
  text-decoration: none;
  color: #eff391;
}
section.slideshow {
  background: white;
}
section.info {
  text-align: center;
  padding: 50px auto 25px;
}
section.info h2,
section.info h4 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
section.info p {
  margin-bottom: 30px;
}
section.info span {
  display: block;
  margin: 20px 0;
  font-weight: normal;
  font-size: 18px;
  color: #465064;
  line-height: 20px;
}
section.info .btn {
  background: #129700;
  color: white;
  text-shadow: none;
  border: 0;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 5px rgba(0, 0, 0, 0.25);
}
section.info .btn:hover {
  background: #108800;
}
section.highlights {
  background: #404040;
  padding: 30px 0;
  border-top: 1px solid #e7e8ea;
  border-bottom: 1px solid #e7e8ea;
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
}
section.highlights a {
  text-decoration: none;
}
section.highlights .info-box {
  margin: 0 10px 30px;
  text-align: center;
  background-color: #404040;
}
section.highlights .info-box h4 {
  color: white;
  font-weight: 400;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
section.highlights .info-box .box-content {
  background-color: transparent;
}
section.highlights .info-box .box-content img {
  margin-bottom: 10px;
}
section.highlights .info-box .box-content p {
  padding: 0 10px;
  font-size: 15px;
  color: white;
}
section.highlights .info-box .highlights-icon {
  width: 218px;
  height: 200px;
  margin: 0 auto;
}
section.highlights .info-box #get-started {
  background: #cccccc url('images/get-started.png') no-repeat center center;
}
section.highlights .info-box #get-involved {
  width: 218px;
  background: #cccccc url('images/get-involved.png') no-repeat center center;
}
section.highlights .info-box #learn-more {
  width: 218px;
  background: #cccccc url('images/learn-more.png') no-repeat center center;
}
section.highlights .info-box:hover h4,
section.highlights .info-box:active h4,
section.highlights .info-box:hover p,
section.highlights .info-box:active p {
  color: white;
}
section.highlights .info-box:hover h4,
section.highlights .info-box:active h4 {
  font-weight: 600;
}
section.highlights .info-box:hover #get-started,
section.highlights .info-box:active #get-started,
section.highlights .info-box:hover #get-involved,
section.highlights .info-box:active #get-involved,
section.highlights .info-box:hover #learn-more,
section.highlights .info-box:active #learn-more {
  background-color: #fff;
}
section.latest-news {
  text-align: center;
  padding: 30px 0;
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
}
section.latest-news a:hover,
section.latest-news a:active {
  text-decoration: none !important;
}
section.latest-news a:hover .info-box,
section.latest-news a:active .info-box {
  background: #FFF;
}
section.latest-news header {
  height: 30px;
  overflow: visible;
  border-bottom: 1px solid #8d8d8d;
  margin-bottom: 40px;
}
section.latest-news h3 {
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  background: white;
  padding: 0 40px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
section.latest-news .info-box {
  margin: 0 10px 40px;
  background: #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #999999;
  box-shadow: 1px 1px 1px 1px #999999;
  text-align: left;
  width: 100%;
}
section.latest-news .info-box h4 {
  color: #1c2028;
  padding: 0 10px;
  margin-bottom: 10px;
}
section.latest-news .info-box p {
  padding: 0 10px 10px 10px;
  font-size: 15px;
  color: #333;
}
section.latest-news p.intro {
  font-size: 16px;
  font-style: italic;
  margin: 0 40px 30px;
}
section.sponsors {
  padding: 30px 0;
  color: white;
  text-align: center;
  background: #433ded;
  background: -moz-linear-gradient(45deg, #433ded 0%, #68ac59 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #433ded), color-stop(100%, #68ac59));
  background: -webkit-linear-gradient(45deg, #433ded 0%, #68ac59 100%);
  background: -o-linear-gradient(45deg, #433ded 0%, #68ac59 100%);
  background: -ms-linear-gradient(45deg, #433ded 0%, #68ac59 100%);
  background: linear-gradient(45deg, #433ded 0%, #68ac59 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#68ac59', GradientType=1);
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2), inset 0 -3px 7px rgba(0, 0, 0, 0.2);
}
section.sponsors header {
  height: 30px;
  overflow: visible;
  margin-bottom: 40px;
}
section.sponsors h3 {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 400;
  padding: 0 40px;
}
section.sponsors .sponsor {
  text-align: center;
}
/*** DOWNLOAD ***/
section.intro {
  margin-top: -20px;
  padding: 30px 0 60px;
  border-bottom: 1px solid #ddd;
  background: #f3f2f0;
}
section.intro h2 {
  font-weight: 400;
}
section.intro p.main {
  font-size: 14px;
  line-height: 20px;
}
section.content {
  padding: 30px 0;
  margin-top: -68px !important;
}
section.content .nav-tabs {
  border-bottom: none;
}
section.content .nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-transform: uppercase;
}
section.content h4 {
  font-weight: 400;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.bs-sidenav {
  padding-top: 0 !important;
}
.bs-sidenav.well {
  background: none;
  border: none;
  border-right: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.bs-sidenav h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
}
@media (min-width: 980px) {
  .navbar .container {
    width: 940px !important;
  }
  .bs-sidenav {
    width: 300px !important;
    margin: 0 !important;
  }
}
@media (max-width: 979px) {
  body {
    padding-top: 0 !important;
  }
}
@media (max-width: 470px) {
  .navbar-search input {
    width: 120px;
  }
}
/********* Downloads by OS *********/
#downloads {
  margin-top: 30px;
}
#downloads .accordion-group {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 1px solid #bbb;
  margin-bottom: 20px;
  background-color: #efefef;
}
#downloads .accordion-heading:hover {
  background-color: #333;
  border: 1px solid #000;
}
#downloads .accordion-heading a {
  font-weight: bold;
  color: #1c2028;
}
#downloads .accordion-heading a:hover {
  color: #91bef3;
  text-decoration: none;
}
#downloads .accordion-heading h4 {
  border: 0;
  font-weight: bold;
}
#downloads .accordion-inner {
  background-color: #eee;
  line-height: 40px;
  margin-left: 20px;
}
#downloads .accordion-inner a {
  text-decoration: none;
}
#downloads .accordion-inner .icon-large {
  font-size: 18px;
}
#downloads .accordion-inner .download-row {
  margin-left: 30px;
  display: inline-block;
}
#downloads .accordion-inner .qgis-download,
#downloads .accordion-inner .osgeo-download {
  width: 60px;
  height: 60px;
  margin-bottom: -20px;
}
#downloads .accordion-inner .qgis-download {
  background: url('images/qgis-logo.png') no-repeat left;
}
#downloads .accordion-inner .osgeo-download {
  background: url('images/osgeo-logo.png') no-repeat left;
}
#downloads .accordion-inner .download-text {
  margin-left: 10px;
  font-weight: bold;
}
#downloads .accordion-inner button {
  margin-left: 5px;
}
/********* Secondary Landing Pages *********/
#color-identifier {
  height: 10px;
  position: fixed;
  z-index: 1030;
  right: 0;
  left: 0;
  overflow: visible;
}
@media (max-width: 979px) {
  #color-identifier {
    position: static;
  }
}
#color-identifier.about {
  background-color: #eff391;
}
#color-identifier.forusers {
  background-color: #0088cc;
}
#color-identifier.getinvolved {
  background-color: #129700;
}
section.sub-landing-page {
  font-size: 14px;
  line-height: 20px;
  color: #4d4e50;
}
section.sub-landing-page .container {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  padding-top: 40px;
  width: 940px;
  position: relative;
}
section.sub-landing-page .container:after {
  clear: both;
}
section.sub-landing-page hr {
  margin: 70px 0;
}
section.sub-landing-page h4.subsection-link {
  margin-top: 20px;
}
section.banner {
  margin-bottom: 40px;
  width: 100% !important;
  overflow-x: hidden;
}
section.menu nav.subnav {
  padding: 30px 0;
  background: white;
  color: #1c2028;
  text-align: center;
}
section.menu nav.subnav header {
  height: 30px;
  overflow: visible;
  border-bottom: 1px solid #bbb;
  margin-bottom: 40px;
}
section.menu nav.subnav h3 {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 400;
  background: white;
  padding: 0 40px;
}
section.menu nav.subnav ul {
  margin-top: 40px;
}
section.menu nav.subnav ul li {
  display: inline;
  margin: 0 10px;
}
section.menu nav.subnav ul li a {
  font-size: 1.2em;
  font-weight: bold;
  color: #1c2028;
}
section.menu nav.subnav ul li a:hover {
  text-decoration: none;
  color: #0088cc;
}
#myModal .modal-img {
  width: 100%;
}
#myModal .modal-body p {
  margin: 15px;
}
.background-mask {
  background-color: #ccc;
}
img.overflow-img,
#processing {
  max-width: none !important;
  overflow-x: hidden !important;
}
@media (max-width: 979px) {
  img.overflow-img,
  #processing {
    max-width: 50%;
  }
}
