.bx-wrapper {
    top : 60px;
    height: 600px;
    width: 800px;
}

.footer {
  padding-top:10px;
  position:fixed;
  left:0px;
  bottom:0px;
  height:55px;
  width:100%;
}

.navbar .container {
  height:50px;
}

#main-body { 
    position:absolute;
    top: 75px; 
    right: 25px;
    margin-bottom: 55px; 
}

.brand {
    height:60px;
    padding-left: 25px;
}
